@import '../../../styles/customMediaQueries.css';

.logoLink {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  line-height: 0;
  border-bottom: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.9;
    border-bottom: 0;
    text-decoration: none;
  }
}

.logoLinkMobile {
  flex-shrink: 0;
  justify-content: flex-start;
  height: 100%;
  padding: 0 0 0 24px;
}

.logoImage {
  display: block;
  width: 70px;
  height: 40px;
  object-fit: contain;
}

.logoImageMobile {
  width: 64px;
  height: 30px;
}
