@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 28px;
  }
}

.title {
  composes: formMargins;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
}

.listingTypeSelect {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 28px;
  }
}

.selectedLabel {
  composes: label from global;
}
.selectedValue {
  margin-top: 0;
  margin-bottom: 6px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 6px 0;
  }
}

.unitTypeHidden {
  display: none;
}

.submitButton {
  margin-top: 32px;
  margin-bottom: 24px;
  flex-shrink: 0;
  width: 100%;
  min-height: 48px;
  border-radius: var(--hakoBorderRadiusSmall);
  background-color: var(--hakoPrimary);
  color: var(--hakoWhite);
  font-family: var(--fontFamily);
  font-size: 16px;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: var(--colorPrimaryButtonDark);
    outline: none;
  }

  @media (--viewportLarge) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-top: 40px;
  }
}
