@import '../../../styles/customMediaQueries.css';

.root {
  margin: 0 0 16px;
  padding: 0;
  text-align: left;
}

.finePrint {
  font-family: var(--fontFamily);
  font-size: 13px;
  line-height: 18px;
  color: var(--hakoSecondaryText);
  padding: 0;
  text-align: left;
}

.privacyLink,
.termsLink {
  color: var(--hakoSecondaryText);
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    color: var(--hakoAccent);
    text-decoration: underline;
    cursor: pointer;
  }
}
